{% extends "template.html" %}
{% block page_content %}
    <h1>Editing block (id:{{ id }}) content on Functions in home.html</h1>
    <form action="" method="post">
        {{ form_home_func_block_edit.hidden_tag() }}
        <p>
            {{ form_home_func_block_edit.title.label }} {{ form_home_func_block_edit.title }}
            {% for error in form_home_func_block_edit.title.errors %}
                {{ error }}
            {% endfor %}
            <br>
            {{ form_home_func_block_edit.icon.label }} {{ form_home_func_block_edit.icon }}
            {% for error in form_home_func_block_edit.icon.errors %}
                {{ error }}
            {% endfor %}
            <br>
            {{ form_home_func_block_edit.content.label }} {{ form_home_func_block_edit.content }}
            {% for error in form_home_func_block_edit.content.errors %}
                {{ error }}
            {% endfor %}
            <br>
            {{ form_home_func_block_edit.editype.label }} {{ form_home_func_block_edit.editype }}
            {% for error in form_home_func_block_edit.editype.errors %}
                {{ error }}
            {% endfor %}
            <br>
        </p>
        <p>{{ form_home_func_block_edit.submit() }}</p>
    </form>
{% endblock %}