{% extends "template.html" %}
{% block page_content %}
    <h1 align="center">ASP.NET</h1>
    <h3 align="center">Free. Cross-platform. Open source. A framework for building web apps and services with .NET and
        C#.</h3>
    <p align="center">
        <button>Get Started</button>
        <button>Download</button>
    </p>
    <p align="center">Supported on Windows, Linux, and macOS</p>
    <hr>


    {% if current_user.is_authenticated %}
        <p>functions block<br><a href="{{ url_for('home_func_block_add') }}">add content to functions block</a> </p>
    {% endif %}
    {% for block in home_function_block %}
        <div style="border: 1px solid; border-color: grey;">
            <h3>{{ block.title }}</h3>
            <p>{{ block.content }}</p>
            {% if current_user.is_authenticated %}
                <p>(block id: {{ block.id }}, edited by: {{ block.editor_user_id }} on {{ block.edited_time }})</p>
                <a href="{{ url_for('home_func_block_edit', id=block.id) }}">edit/delete</a>
            {% endif %}
        </div>
    {% endfor %}
    <hr>


    {% if current_user.is_authenticated %}
        <p>about block<br><a href="{{ url_for('home_about_bock_add') }}">add content to about block</a> </p>
    {% endif %}
    {% for block in home_about_block %}
        <div style="border: 1px solid; border-color: grey;">
            <p><img width="360px" src="{{ block.image }}"/></p>
            <h3>{{ block.title }}</h3>
            <p>{{ block.content }}</p>
            {% if current_user.is_authenticated %}
                <p>(block id: {{ block.id }}, edited by: {{ block.editor_user_id }} on {{ block.edited_time }})</p>
            {% endif %}
        </div>
    {% endfor %}
    <hr>
{% endblock %}
