{% extends "template.html" %}
{% block page_content %}
    <h1 align="center">ASP.NET</h1>
    <h3 align="center">Free. Cross-platform. Open source. A framework for building web apps and services with .NET and
        C#.</h3>
    <p align="center">
        <button>Get Started</button>
        <button>Download</button>
    </p>
    <p align="center">Supported on Windows, Linux, and macOS</p>
    <hr>


    {% if current_user.is_authenticated %}
        <p>functions block</p>
    {% endif %}
    {% for block in home_function_block %}
        <div style="border: 1px solid; border-color: grey;">
            <h3>{{ block.title }}</h3>
            <p>{{ block.content }}</p>
            {% if current_user.is_authenticated %}
                <p>(block id: {{ block.id }}, edited by: {{ block.editor_user_id }} on {{ block.edited_time }})</p>
                <a href="{{ url_for('home_func_block_edit', id=block.id) }}">edit/delete</a>
            {% endif %}
        </div>
    {% endfor %}
    {% if current_user.is_authenticated %}
        <p>add content to functions block</p>
        <form action="" method="post">
            {{ form_home_func_block_add.hidden_tag() }}
            <p>
                {{ form_home_func_block_add.title.label }} {{ form_home_func_block_add.title }}
                {% for error in form_home_func_block_add.title.errors %}
                    {{ error }}
                {% endfor %}
                <br>
                {{ form_home_func_block_add.icon.label }} {{ form_home_func_block_add.icon }}
                {% for error in form_home_func_block_add.icon.errors %}
                    {{ error }}
                {% endfor %}
                <br>
                {{ form_home_func_block_add.content.label }} {{ form_home_func_block_add.content }}
                {% for error in form_home_func_block_add.content.errors %}
                    {{ error }}
                {% endfor %}
                <br>
            </p>
            <p>{{ form_home_func_block_add.submit() }}</p>
        </form>
    {% endif %}
    <hr>


    {% if current_user.is_authenticated %}
        <p>about block</p>
    {% endif %}
    {% for block in home_about_block %}
        <div style="border: 1px solid; border-color: grey;">
            <p><img src="{{ block.image }}"/></p>
            <h3>{{ block.title }}</h3>
            <p>{{ block.content }}</p>
            {% if current_user.is_authenticated %}
                <p>(block id: {{ block.id }}, edited by: {{ block.editor_user_id }} on {{ block.edited_time }})</p>
            {% endif %}
        </div>
    {% endfor %}
    {% if current_user.is_authenticated %}
        <p>add content to about block</p>
        <form action="" method="post">
            {{ form_home_about_block_add.hidden_tag() }}
            <p>
                {{ form_home_about_block_add.title.label }} {{ form_home_about_block_add.title }}
                {% for error in form_home_about_block_add.title.errors %}
                    {{ error }}
                {% endfor %}
                <br>
                {{ form_home_about_block_add.image.label }} {{ form_home_about_block_add.image }}
                {% for error in form_home_about_block_add.image.errors %}
                    {{ error }}
                {% endfor %}
                <br>
                {{ form_home_about_block_add.content.label }} {{ form_home_about_block_add.content }}
                {% for error in form_home_about_block_add.content.errors %}
                    {{ error }}
                {% endfor %}
                <br>
                {{ form_home_about_block_add.link.label }} {{ form_home_about_block_add.link }}
                {% for error in form_home_about_block_add.link.errors %}
                    {{ error }}
                {% endfor %}
                <br>
            </p>
            <p>{{ form_home_about_block_add.submit() }}</p>
        </form>
    {% endif %}
{% endblock %}
