{% extends "template.html" %}
{% block app_content %}
    <div class="jumbotron" style="background-color: purple; color: white;">
        <h1 align="center">ASP.NET</h1>
        <h2 align="center">Free. Cross-platform. Open source. A framework for building web apps and services with .NET
            and
            C#.</h2>
        <p align="center">
            <a class="btn btn-primary btn-lg" href="#" role="button">Get Started</a>
            <a class="btn btn-primary btn-lg" href="#" role="button">Download</a>
        </p>
        <p align="center">Supported on Windows, Linux, and macOS</p>
    </div>


    {% if current_user.is_authenticated %}
        <p>functions block<br><a href="{{ url_for('home_func_blk_add') }}">add content to functions block</a></p>
    {% endif %}
    <div class="row">
        {% for block in home_function_block %}
            <div class="col-xs-6 col-md-3">
                <div class="thumbnail">
                    <div class="caption">
                        <div class="media">
                            <div class="media-left">
                                <!--<a href="#">
                                    <img class="media-object" src="{{ block.icon }} width=">
                                </a>-->
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">{{ block.title }}</h4>
                                {{ block.content|safe }}
                                {% if current_user.is_authenticated %}
                                    <hr>
                                    <p>block id: {{ block.id }} <br> edited by: {{ block.editor_user_id }}
                                        <br> {{ moment(block.edited_time).fromNow() }}</p>
                                    <a href="{{ url_for('home_func_blk_edit', id=block.id) }}">edit/delete</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <hr>


    {% if current_user.is_authenticated %}
        <p>about block<br><a href="{{ url_for('home_about_blk_add') }}">add content to about block</a></p>
    {% endif %}
    {% for block in home_about_block %}

        <div class="thumbnail">
            <div class="row">
                <div class="col-sm-4 col-md-6">
                    <div style="height: 200px; background-image: url('{{ block.image }}'); background-size: contain; background-position: center; background-repeat: no-repeat;"></div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="caption">
                        <h3>{{ block.title }}</h3>
                        <p>{{ block.content|safe }}</p>
                        {% if block.link != '' %}
                            <p><a href="{{ block.link }}" class="btn btn-primary"
                                  role="button">{{ block.link_text }}</a></p>
                        {% endif %}
                        {% if current_user.is_authenticated %}
                            <hr>
                            <p>block id: {{ block.id }} <br> edited by: {{ block.editor_user_id }} <br>
                                {{ moment(block.edited_time).fromNow() }}</p>
                            <a href="{{ url_for('home_about_blk_edit', id=block.id) }}">edit/delete</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    <hr>


    {% if current_user.is_authenticated %}
        <p>client block<br><a href="{{ url_for('home_client_blk_add') }}">add content to client block</a></p>
    {% endif %}
    <div class="container-fluid"><div class="row">
        {% for block in home_client_block %}
            <div class="col-xs-4 col-sm-3 col-md-2">
                <div style="height: 150px; background-image: url('{{ block.client_logo }}'); background-size: contain; background-position: center; background-repeat: no-repeat;"></div>
                {% if current_user.is_authenticated %}
                    <hr>
                    <p>block id: {{ block.id }} <br> edited by: {{ block.editor_user_id }} <br>
                        {{ moment(block.edited_time).fromNow() }}</p>
                    <a href="{{ url_for('home_client_blk_edit', id=block.id) }}">edit/delete</a>
                {% endif %}
            </div>
        {% endfor %}
    </div></div>
    <p align="center"><a href="https://dotnet.microsoft.com/platform/customers">Read customer stories</a></p>
    <hr>

{% endblock %}