<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}ASP.NET</title>
</head>
<body>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
        <hr>
    {% endif %}
{% endwith %}
{% if current_user.is_authenticated %}
    <p>you have login as the site admin ( ID: {{ current_user.user_id }} )</p>
    <p><a href="{{ url_for('admin_home') }}">admin home</a> | <a href="{{ url_for('admin_logout') }}">logout</a></p>
    <hr>
{% endif %}
{% block page_content %}{% endblock %}
</body>
</html>
